<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>SmartRestaurantServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addFoodOrderServlet</display-name>
    <servlet-name>addFoodOrderServlet</servlet-name>
    <servlet-class>servlet.addFoodOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addFoodOrderServlet</servlet-name>
    <url-pattern>/addFoodOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addTypeServlet</display-name>
    <servlet-name>addTypeServlet</servlet-name>
    <servlet-class>servlet.addTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addTypeServlet</servlet-name>
    <url-pattern>/addTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addUserServlet</display-name>
    <servlet-name>addUserServlet</servlet-name>
    <servlet-class>servlet.addUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addUserServlet</servlet-name>
    <url-pattern>/addUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeTableType</display-name>
    <servlet-name>changeTableType</servlet-name>
    <servlet-class>servlet.changeTableType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeTableType</servlet-name>
    <url-pattern>/changeTableType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteOrderItemServlet</display-name>
    <servlet-name>deleteOrderItemServlet</servlet-name>
    <servlet-class>servlet.deleteOrderItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteOrderItemServlet</servlet-name>
    <url-pattern>/deleteOrderItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteOrderServlet</display-name>
    <servlet-name>deleteOrderServlet</servlet-name>
    <servlet-class>servlet.deleteOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteOrderServlet</servlet-name>
    <url-pattern>/deleteOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteTypeServlet</display-name>
    <servlet-name>deleteTypeServlet</servlet-name>
    <servlet-class>servlet.deleteTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteTypeServlet</servlet-name>
    <url-pattern>/deleteTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteUserServlet</display-name>
    <servlet-name>deleteUserServlet</servlet-name>
    <servlet-class>servlet.deleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteUserServlet</servlet-name>
    <url-pattern>/deleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getAllMenuServlet</display-name>
    <servlet-name>getAllMenuServlet</servlet-name>
    <servlet-class>servlet.getAllMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAllMenuServlet</servlet-name>
    <url-pattern>/getAllMenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getAllOrderServlet</display-name>
    <servlet-name>getAllOrderServlet</servlet-name>
    <servlet-class>servlet.getAllOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAllOrderServlet</servlet-name>
    <url-pattern>/getAllOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getAllTableServlet</display-name>
    <servlet-name>getAllTableServlet</servlet-name>
    <servlet-class>servlet.getAllTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAllTableServlet</servlet-name>
    <url-pattern>/getAllTableServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getAllUser</display-name>
    <servlet-name>getAllUser</servlet-name>
    <servlet-class>servlet.getAllUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAllUser</servlet-name>
    <url-pattern>/getAllUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>verifyUserServlet</display-name>
    <servlet-name>verifyUserServlet</servlet-name>
    <servlet-class>servlet.verifyUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verifyUserServlet</servlet-name>
    <url-pattern>/verifyUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileImageUpload</display-name>
    <servlet-name>FileImageUpload</servlet-name>
    <servlet-class>servlet.FileImageUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileImageUpload</servlet-name>
    <url-pattern>/FileImageUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>downImageServlet</display-name>
    <servlet-name>downImageServlet</servlet-name>
    <servlet-class>servlet.downImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downImageServlet</servlet-name>
    <url-pattern>/downImageServlet</url-pattern>
  </servlet-mapping>
</web-app>